* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: radial-gradient(circle at top, #020617, #000);
  color: #e5e7eb;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
